.hero-container {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #757575;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/img-mobal-hero.jpg");

  background-repeat: no-repeat;

  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/img-mobal-hero@2x.jpg");
  }
}

.hero-title {
  @include font($fw: 900, $fs: 26px, $fh: 42px);
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;

  padding-top: 118px;
}

.hero-btn {
  @include font($fw: 700, $fs: 16px, $fh: 30px);
  padding: 10px 32px;
  border: 0;
  min-width: 200px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 118px;
  align-items: center;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

// TABLET//
@media screen and (min-width: 768px) {
  .hero {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #757575;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/img-tablet-hero.jpg");

    background-repeat: no-repeat;

    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/img-tablet-hero@2x.jpg");
    }
  }
}

//DECKTOP//
@media screen and (min-width: 1200px) {
  .hero-container {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #757575;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/img-desktop-hero1.jpg");

    background-repeat: no-repeat;

    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/img-desktop-hero1@2x.jpg");
    }
  }

  .hero-title {
    @include font($fw: 900, $fs: 44px, $fh: 60px);
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-transform: uppercase;

    padding-top: 200px;
  }
}
