.container {
  width: 100%;
  padding: 0 15px;

  .header & {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    .header & {
      height: 60px;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;

    .header & {
      height: 80px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;

    .header & {
      height: 80px;
    }
  }
}
